h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}



.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em; 
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-web {
  color: #4d5ae5;
}
.address {
    margin-left: auto;
    font-style: normal;
}
.address ul {
    display: flex;
    gap: 40px;
}
.effective-btn {
    background-color: #2e2f42;
    padding-bottom: 188px;
    text-align: center;
}
.effective {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    padding-top: 188px;
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 48px auto 0;
    color: #ffffff;
    background-color: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.teams {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
}
footer .logo {
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-footer {
     font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color: #4d5ae5;
} 
.foot {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}
.team {
    display: flex;
    gap: 24px;
} 
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
    display: flex;
  align-items: center;
  padding: 24px 0;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.nav {
    display: flex;
    align-items: center;
    gap: 76px;
}
.navigator {
    display: flex;
    gap: 40px;
}
header {
    border-bottom: 1px solid #e7e9fc;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.features {
    display: flex;
    gap: 24px;
}
.features li {
  width: calc((100% - 72px) / 4);
}
.our-team {
   margin-bottom: 72px;
}
.team li {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}
.team-text {
  padding: 32px 0;
  text-align: center;
}
.our-port {
  margin-bottom: 72px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-text h3 {
  margin-bottom: 8px;
}
.foot {
  max-width: 264px;
}
.current {
  color: #404bbf;
  position: relative;
}
.navigator a:hover,
.navigator a:focus {
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address a:hover,
.address a:focus {
  color: #404bbf;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46,47,66,0.08),
    0px 1px 1px rgba(46,47,66,0.16),
    0px 2px 1px rgba(46,47,66,0.08);
}